/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(to bottom, #000000, #13294b);
  color: white;
  text-align: center;
}

/* ===== HEADER ===== */
.topo {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  background-color: #c44a2d;
}

.icone {
  width: 30px;
  margin-left: 10px;
  cursor: pointer;
  transition: transform 0.3s;
}

.icone:hover {
  transform: scale(1.2);
}

.foto-perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.foto-perfil img {
  width: 200px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255,255,255,0.3);
}

.foto-perfil h1 {
  margin-top: 10px;
  font-size: 2rem;
}

/* ===== MAIN ===== */
.sobre {
  background: url('https://upload.wikimedia.org/wikipedia/commons/e/e6/Mount_Fuji_from_Lake_Kawaguchi_with_red_maple_leaves.jpg') center/cover no-repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 20px;
  position: relative;
}

.atividade {
  width: 180px;
  margin: 15px;
  transition: transform 0.4s;
}

.atividade img {
  width: 100%;
  border-radius: 10px;
}

.atividade:hover {
  transform: scale(1.1);
}

.kanji img {
  width: 100px;
  margin: 20px auto;
  display: block;
}

/* ===== FOOTER ===== */
footer {
  background: #000000aa;
  padding: 20px;
  font-size: 0.9rem;
}
.whats-link {
  color: #25d366;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.whats-link:hover {
  color: #1ebe5d;
  text-decoration: underline;
}
