body {
    margin: 0;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

.container {
    max-width: 900px;
    width: 95%;
    margin-top: 20px;
    text-align: center;
}

img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.4s ease;
    cursor: pointer;
}

/* zoom ao passar o mouse */
img:hover {
    transform: scale(1.04);
}

/* Modal para ampliar imagem */
#modal {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.85);
    justify-content: center;
    align-items: center;
}

#modal img {
    width: 85%;
    max-width: 1100px;
    border-radius: 10px;
}

#btnTopo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #e63946;
    color: white;
    padding: 12px 18px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: none;
    transition: 0.3s;
}

#btnTopo:hover {
    background: #ff4f63;
}

