/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: white;
  text-align: center;
  transition: 0.3s;
}

/* BARRAS SUPERIORES E INFERIORES */
.barra-topo {
  width: 100%;
  height: 120px;
  background: #c44a2d;
}

/* ÍCONES */
.icones {
  margin-top: -110px;
  padding: 15px;
  display: flex;
  justify-content: flex-end;
}

.icone {
  width: 35px;
  margin-left: 10px;
  transition: 0.3s;
}

.icone:hover {
  transform: scale(1.2);
}

/* FOTO PERFIL */
.foto-perfil {
  margin-top: -90px;
}

.foto-perfil img {
  width: 230px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255,255,255,0.4);
}

.foto-perfil h1 {
  margin-top: 10px;
  font-size: 2rem;
}

/* ATIVIDADES */
.sobre {
  background: url('https://upload.wikimedia.org/wikipedia/commons/e/e6/Mount_Fuji_from_Lake_Kawaguchi_with_red_maple_leaves.jpg') center/cover no-repeat;
  padding: 40px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.atividade {
  width: 170px;
  margin: 20px;
  transition: 0.3s;
}

.atividade img {
  width: 170px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.3s;
}

.atividade:hover img {
  box-shadow: 0 0 20px white;
  transform: scale(1.05);
}

/* KANJI */
.kanji img {
  width: 110px;
  margin: 30px auto;
  display: block;
}

/* FOOTER */
footer {
  background: #000000d5;
  padding: 20px;
}

.whats-link {
  color: #25d366;
  font-weight: bold;
  text-decoration: none;
}

.whats-link:hover {
  text-decoration: underline;
}

/* BOTÃO TEMA */
#tema-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: #c44a2d;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
}

#tema-btn:hover {
  transform: scale(1.1);
}

/* TEMA CLARO */
.light {
  background-color: white;
  color: black;
}

.light footer {
  background: #dddddd;
}

.light #tema-btn {
  background: #333;
}
